
/*
primary #22313f
secondary #DC7E7E
*/


body {
	background-color: #f6f6f6;
	font-family: 'Quicksand', sans-serif;
	color: #22313f;
}

a {
	color: #DC7E7E;
}

a:hover {
	color: #DC7E7E;
	text-decoration: underline;
}

/*container*/

.container {
	width: 69%;
}

/*navbar*/

.navbar {
	background-color: #f6f6f6;
	height: 55px;
	border-bottom: 1px solid #ECEDEF;
}

.nav {
	float: right;
}

.navbar .logo {
	font-size: 20px;
	letter-spacing: 3px;
	color: #DC7E7E;
	margin-right: 20px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	margin-top: 3px;
}

.navbar .logo:hover {
	color: #DC7E7E;
}

.navbar .logo img {
	width: 33px;
	height: auto;
	float: left;
	margin-top: -6px;
	margin-right: 10px;
}

.ghostbtn {
	border: 2px solid #eceef0;
	border-radius: 8px;
	color: #4c5962;
	font-size: 12px;
	margin-right: 20px;
	margin-top: 9px;

	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.navbar-inverse .navbar-nav li a {
	font-size: 12px;
	color: #4C5962;
	padding: 7px 15px;
}


.navbar-inverse .navbar-nav li a:hover {
	color: #DC7E7E;
	border-color: #dd9696;
}

.navbar-inverse .navbar-nav li a:focus {
    color: #DC7E7E;
    outline: 0;
}

.navbar-header .navbar-brand:focus {
    color: #DC7E7E;
    outline: 0;
}

.search-nav {
	float: left;
}

.search {
	margin-top: 11px;
	height: 34px;
	width: 550px;
	border-radius: 5px;
	background-color: #e9eaeb;
	border: none;
	box-shadow: none;
	color: #8a8a8a;
	font-size: 12px;
}

.search:focus {
	box-shadow: none;
}

.userimg {
	width: 31px;
	margin-right: 10px;
	margin-top: -1px;
}



.navbar-inverse .navbar-nav li a.last {
	padding: 0;
	padding-top: 14px;
}


/*myshows*/

#myshows {
	background-color: rgba(255, 255, 255, 0.95);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
	overflow: scroll;
}

#myshows h3 {
	margin-top: 100px;
}

#myshowswrap {
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;

	width: 100%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}


.myshowsimg {
	width: 140px;
	height: auto;
	float: left;
	margin: 20px;
	margin-left: 0;
	margin-bottom: 10px;
	border-radius: 5px;
}

.myshowsimg:hover {
	opacity: 0.6;
}

/*cover image*/

.coverimg {
	float: left;
	width: 100%;
	background-color: #22313f;
	height: 250px;
	/*background-image: url('../img/coverimg.jpg');*/
	background-position: top left;
	background-repeat:  no-repeat;
	/*background-attachment: fixed;*/
	background-size:  cover;

	/*Gradient*/
	background: -webkit-linear-gradient(left, rgba(220,125,125,0.95) 0%, rgba(34,49,63,0.95) 100%);
	background: -o-linear-gradient(left, rgba(220,125,125,0.95) 0%, rgba(34,49,63,0.95) 100%);
	background: linear-gradient(to right, rgba(220,125,125,0.95) 0%, rgba(34,49,63,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2dc7d7d', endColorstr='#f222313f',GradientType=1 );
}

.coverimg h1 {
	font-weight: 300;
	text-align: center;
	color: #ffffff;
	margin-top: 130px;
	font-size: 28px;
}

/*search results*/

#resultswrap {
	width: 100%;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.9);
	margin-bottom: -250px;
	display: none;
}

#results {
	width: 100%;
	height: 250px;
	margin-bottom: -250px;
	display: none;
	padding-top: 47px;
	overflow: hidden;
}

.searchimg {
	width: 120px;
	height: auto;
	float: left;
	margin: 20px;
	margin-left: 0;
	border-radius: 5px;
}

.searchimg:hover {
	opacity: 0.6;
}


/*timeline*/

.content {
    margin-bottom: 50px;
    margin-top: 0px;
}

.feed {
	width: 72%;
	float: left;
	margin-top: 40px;
}

.timeline {
	list-style: none;
	padding: 0;
}

.ep {
	width: 100%;
	height: 100%;
}

.img {
	width: 18%;
	float: left;
	margin-right: 2%;
}

.episodeimg {
	width: 100%;
	float: left;
	margin-right: 15%;
	border-radius: 5px;
}

.desc {
	width: 80%;
	float: left;
}

.desc h3 {
	margin-top: 5px;
}

.descairdate {
	color: #A5A6AB;
	font-size: 13px;
	letter-spacing: 1px;
}

.descsummary {
	color: #6A6A6A;
	font-size: 13px;
	letter-spacing: 1px;
	margin-top: 20px;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	line-height: 20px;
}

.timeline li {
	float: left;
	margin-bottom: 0;
	width: 100%;
}

hr {
	width: 100%;
	float: left;
	margin-bottom: 25px;
	margin-top: 25px;
	background-color: #E8E8E8;
}


/*sidebar*/

.sidebar {
	width: 25%;
	height: 400px;
	background-color: #ececed;
	float: right;
	margin-top: 40px;
	border-radius: 5px;
	padding: 20px;
}

.sidebarshow {
	width: 100%;
	height: 23%;
}

.sidebarshow h3 {
	font-size: 20px;
	margin-top: 5px;
}

.sidebarshow .descairdate {
	font-size: 11px;
	margin-bottom: 5px;
}

.sidebarshow .img {
	width: 23%;
	margin-right: 4%;
}

.sidebarshow .desc {
	width: 73%;
	height: 70%;
}

.sidebar .btn-default {
	border-radius: 100px;
	height: 25px;
	font-size: 11px;
	padding-top: 5px;
	border: none;
	background-color: #D6D9DC;
	color: #22313f;
	width: 100%;
	margin-bottom: 20px;
}

.sidebar .btn-default:active {
	background-color: #D6D9DC;
	color: #22313f;
	box-shadow: none;
}

.sidebar .btn-default:hover {
	cursor: default;
}

.fa-line-chart {
	margin-right: 5px;
}



/*footer*/

.footer {
	font-size: 11px;
	color: #a7a7a7;
	margin-top: 30px;
}

.footer ul {
	padding: 0;
	list-style: none;
}

.footer ul li {
	float: left;
	margin-right: 10px;
}




/*loader*/

.loading p {
    text-align: center;
}


.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
}

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px rgba(220, 126, 126, 0.25) solid;
  border-top: 4px #DC7E7E solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
}

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
